*{
    margin: 0;
    padding: 0;
}

.button{
    border-radius: 12px;
    width: 80px;
    height: 50px;
    font-size:25px ;
    margin: 5px;
}

.button-last{
    width: 160px;
    height: 50px;
    font-size:25px ;
    margin: 10px;
}

.cal-container div{
    
    margin: 10px;
    
    padding-top: 8px;
}

.cal-container{
    background: rgb(51, 51, 155);
    width: 390px;
    height: 450px;
    margin-top: 50px;
    margin-left: 550px
}
